import java.util.Scanner;
public class sinifGecme {
    public static void main(String[] args){
        int math,physics,turkish,chemistry,music,toplam=0,sayi=0;

        Scanner input=new Scanner(System.in);

        System.out.print("Matematik notunu giriniz: ");
        math= input.nextInt();
        if( (math>0) && (math<=100)) {
            toplam=toplam+math;
            sayi++;
        }

        System.out.print("Fizik notunu giriniz: ");
        physics= input.nextInt();
        if( (physics>0) && (physics<=100)) {
            toplam=toplam+physics;
            sayi++;
        }

        System.out.print("Türkçe notunu giriniz: ");
        turkish= input.nextInt();
        if( (turkish>0) && (turkish<=100)) {
            toplam=toplam+turkish;
            sayi++;

        }

        System.out.print("Kimya notunu giriniz: ");
        chemistry= input.nextInt();
        if( (chemistry>0) && (chemistry<=100)) {
            toplam=toplam+chemistry;
            sayi++;
        }

        System.out.print("Müzik notunu giriniz: ");
        music= input.nextInt();
        if( (music>0) && (music<=100)) {
            toplam=toplam+music;
            sayi++;
        }
        input.close();

        double avarage = toplam / 5;
        if (avarage<55){
            System.out.println("Sınıfta kaldınız.Ortalama: " +avarage);
        } else{
            System.out.println("Sınıfı geçtiniz.Ortalama: " +avarage);
        }








    }
}
